extends ../../layouts/default.pug

block head
    title 會員專區

block content
    #member_page
        h1(style="display:none") 會員專區
        include blocks/banner.pug
        .container
            include blocks/login_form.pug

