#introduction_architecture_block.introduction_architecture_block
    .architecture_wrap
        .block_title
            .cht 本善風貌
            .en Architecture
        .block_image
            img(src="./images/architecture_block_image.jpg")
        .architecture_content
            .content_wrap
                .slogan 獨門獨院 <br> 自己的天空 ， 自己的土地
                .content 
                    p 採用自然面、水洗面創造歲月感，即使時光流逝，仍如第一眼所見，如歐洲建築般雋永、恆久。
                    p 愛家穩重、氣宇不凡的一家之主，堅若磐石，沈穩與氣概集於一身。
        .architecture_feature_wrapper
            .feature_item.item_1
                .item_image
                    img(src="./images/architecture_image_1.jpg")
                .item_content
                    .item_title 穩坐正東正南<br>帝王座向
                    .item_content 中西合併的精萃，座北朝南的格局<br>考量全面風水地理<br>旭日東升的陽光，永遠照亮您的家門
            .feature_item.item_2
                .item_image
                    img(src="./images/architecture_image_2.jpg")
                .item_content
                    .item_title 歷久彌新的經典<br>是您的最愛
                    .item_content 使用大量石材打造，<br>古典中帶有現代感的建築語彙，<br>如同中古世界的建築，<br>大器，卻又如此優雅
            .feature_item.item_3
                .item_image
                    img(src="./images/architecture_image_3.jpg")
                .item_content
                    .item_title 獨特俐落角度<br>文魁執筆
                    .item_content 據說被魁星所執之筆點中，<br>便能開智慧、升官輝。
                    .item_content 將魁星筆造型融入外觀當中，<br>祝福本善客人獲得文運、官運。
