#introduction_construction_block.introduction_construction_block
    .construction_wrap
        .block_title
            .cht 敦泰本善
            .en Construction
        .block_image
            img(src="./images/construction_block_image.jpg")
        .construction_content
            .content_wrap
                .slogan 增值傳家<br>入駐下一個盛世
                .content 台中最後鑽石地，<br>開啟家門見證新盛世大門。
        .construction_features_wrap
            .features_content_wrap
                .feature_title 完美地段<br>引領您下一個地產高峰
                .feature_content 敦泰本善，<br>座落於十二期重劃區，<br>鄰近最具增值條件的<br>抗跌地段：水湳經貿園區，<br>願景更盛七期。
            .features_image
                img(src="./images/construction_feature_image.jpg")
        .construction_life_wrap
            .life_title
                .title 可遇不可求的完美生活圈
                hr
                .square 
            .life_items_wrapper
                .item_wrapper
                    .life_item.item_1
                        .image_wrap
                            img(src="./images/construction_image_1.jpg")
                            .title 水湳轉運中心
                        .item_content
                            p 陸海空連線，說走就走的旅行，寫下每一頁冒險
                    .life_item.item_2
                        .image_wrap
                            img(src="./images/construction_image_2.jpg")
                            .title 中央公園
                        .item_content
                            p 從都市回歸自然，一整天都玩不完，文心森林公園九倍大，全台第一個綠能公園
                    .life_item.item_3
                        .image_wrap
                            img(src="./images/construction_image_3.jpg")
                            .title 台中綠美圖
                        .item_content
                            p 森林中的美術館及圖書館，建築界的諾貝爾獎，普立茲克得主妹島和世，台灣唯一文化、知識、藝術相互連結
                    .life_item.item_4
                        .image_wrap
                            img(src="./images/construction_image_4.jpg")
                            .title 水湳經貿園區
                        .item_content
                            p 集國際會展、商圈購物、運輸交通、文化、教育，亞太新門戶，文化生活與產業中樞，尤勝當年翻漲前之七期
        .construction_banner
            img(src="./images/construction_banner.jpg")
        .construction_map_wrap
            .map_content
                .title 便捷的自助生活圈
                .content 敦泰本善兼具教育、交通、購物、樂活、自然、休閒、藝文等八大元素集結；創辦人堅持，這如此美麗的一塊地，您一定要來親自體會敦泰本善的美麗。
                .image
                    img(src="./images/construction_map_1.jpg")
            .map_image
                .info_image
                    img(src="./images/construction_map_2.jpg")
                .map_info
                    .info_item
                        .tag 教育
                        .text 西屯國小、西苑高中、逢甲大學、僑光科大
                    .info_item
                        .tag 交通
                        .text 水湳轉運站、大雅交流道、台中交流道；未來捷運輕軌
                    .info_item
                        .tag 購物
                        .text 新光三越、大遠百、逢甲夜市
                    .info_item
                        .tag 自然
                        .text 中央生態公園、水資源回收中心、
                    .info_item
                        .tag 休閒
                        .text 中台灣電影中心、親水遊憩步道、景觀綠廊
                    .info_item
                        .tag 藝文
                        .text 台中綠美圖、台中國家歌劇院
