#introduction_interior_block.introduction_interior_block
    .interior_wrap
        .block_title
            .cht 尊爵本善
            .en Inerior
        .block_image
            img(src="./images/introduction/016.jpg")
        .interior_content
            .content_wrap
                .slogan 百坪大空間<br>一次到位生活空間需求
                .content 每層樓都是獨立空間<br>恰好的距離<br>同聚生活又享有隱私的角落
        .interior_feature_wrapper
            .feature_item.item_1
                .item_image
                    img(src="./images/introduction/017.jpg")
                .item_contents
                    .item_title 成為城堡的主人
                    .item_content 擁有自己的城堡很簡單<br>家，就該是自己的城堡
                    .item_content 零公設，不用管理費<br>獨門獨院，一樓容納四格車位
            .feature_item.item_2
                .item_image
                    img(src="./images/introduction/018.jpg")
                .item_contents
                    .item_title 三代同堂 妥善照料
                    .item_content 全棟6 ~ 7房，<br>1樓為孝親房，<br>孝敬父母、含飴弄孫。
            .feature_item.item_3
                .item_image
                    img(src="./images/introduction/019.jpg")
                .item_contents
                    .item_title 臨路車庫<br>直接開進自己家門
                    .item_content 容納最少四車位，<br>親朋好友聚會好停車