#introduction_quality_block.introduction_quality_block
    .quality_content_wrapper
        .block_title
            .cht 細緻本善
            .en Quality
        .block_slogan
            .slogan 最具頂級品味的尊榮設備
        .quality_product_wrapper
            .product_item_wrapper
                .product_item.item_1
                    .image_wrap
                        img(src="./images/introduction/025.jpg")
                        .item_title 敵銳防火裝甲門
                    .item_features
                        .text 安全門的代名詞
                        .text 敵銳防爆大門
                .product_item.item_2
                    .image_wrap
                        img(src="./images/introduction/026.jpg")
                        .item_title 德國 Poggenpohl
                    .item_features
                        .text 德國廚具領袖品牌
                .product_item.item_3
                    .image_wrap
                        img(src="./images/introduction/027.jpg")
                        .item_title YKK門窗
                    .item_features
                        .text 業界公認最佳氣密品質
                .product_item.item_4
                    .image_wrap
                        img(src="./images/introduction/028.jpg")
                        .item_title 德國 DURAVIT
                    .item_features
                        .text 德國百年瓷器公藝
                .product_item.item_5
                    .image_wrap
                        img(src="./images/introduction/029.jpg")
                        .item_title TOTO 馬桶
                    .item_features
                        .text 市佔第一免治馬桶
                .product_item.item_6
                    .image_wrap
                        img(src="./images/introduction/030.jpg")
                        .item_title 德國 Miele
                    .item_features
                        .text 貴婦最愛、最大方
                        .text 三台Ｍiele配備贈送