#introduction_slider_block.introduction_slider_block
    .block_title
        .cht 世族品味  名家標準 
        .en Taste & Standard
    .slideshow_wrapper
      .bxslider
          a.slider_item(href="#")
              img(src='./images/introduction/020.jpg')
              .image_content
                .content_wrap
                    .content
                        .title  擁有貴族品味及愜意生活
                        .text 陽光、空氣、水的好宅
          a.slider_item(href="#")
              img(src='./images/introduction/020.jpg')
              .image_content
                .content_wrap
                    .content
                        .title 擁有貴族品味及愜意生活
                        .text 陽光、空氣、水的好宅
          a.slider_item(href="#")
              img(src='./images/introduction/020.jpg')
              .image_content
                .content_wrap
                    .content
                        .title 擁有貴族品味及愜意生活
                        .text 陽光、空氣、水的好宅
    .slideshow_images
        .item_image.item_1
            img(src="./images/introduction/021.jpg")
        .item_image.item_2
            img(src="./images/introduction/022.jpg")
        .item_image.item_3
            img(src="./images/introduction/023.jpg")
        .item_image.item_4
            img(src="./images/introduction/024.jpg")
