#about_banner_block {
    border-bottom: #4E413B 40px solid;

    .slogan {
        @include font_color_3;
        @include font_size_8;
        text-align: center;
        letter-spacing: 5px;
        padding: 40px 10px;
        box-sizing: border-box;
        background-color: #4E413B;
        @include media-breakpoint-up(md) {
            font-size: 38px;
        }
    }
    .idea_block_wrap {
        display: none;
        background: url(../images/about_banner_bg.jpg) center center no-repeat;
        background-size: cover;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    .idea_block {
        display: none;
        writing-mode: vertical-rl;
        min-height: 503px;
        margin: 0 auto;
        padding: 60px 0px;
        color: #4E413B;
        
        @media screen and (min-width:1500px) {
            display: block;
        }

        .title {
            font-size: 38px;
            letter-spacing: 5px;
        }

        p {
            font-size: 16px;
        }
    }
    .mobile_idea_block_wrap {
        display: block;
        background: url(../images/about_banner_bg.jpg) center center no-repeat;
        background-size: cover;

        @include media-breakpoint-up(lg) {
            display: none;
        } 
        .mobile_idea_block {
            color: #4E413B;
            text-align: center;
            padding: 40px 15px;

            .title {
                font-size: 38px;
                letter-spacing: 5px;
                margin-bottom: 15px;
            }
    
            p {
                font-size: 16px;
                letter-spacing: 3px;
                margin-bottom: 30px;
            }

            .read_all {
                font-size: 16px;
                letter-spacing: 3px;
                color: #ffffff;
                background-color: #4E413B;
                padding: 10px 30px;
            }
        }
    }
}