#about_introducer {
  padding: 50px 10px;
  background-color: #4E413B;
  @include media-breakpoint-up(sm) {
    padding: 100px 10px;
  }

  .introducer_wrapper {
    max-width: 1310px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    .fonder_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 15px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 70px;
      }

      @include media-breakpoint-up(lg){
        flex-wrap: nowrap;
      }
      .fonder_image {
        max-width: 586px;
        width: 100%;
        @include media-breakpoint-up(lg){
          margin-right: 45px;
        }
      }
      .fonder_content {
        max-width: 546px;
        width: 100%;
        padding: 30px 35px;
        box-sizing: border-box;
        @include media-breakpoint-up(sm){
          padding: 45px 0px;
        }
        
        .block_title {
          @include block-title-style-1(#ffffff,36px,24px);
          margin-bottom: 15px;
          @include media-breakpoint-up(sm) {
            margin-bottom: 35px;
          }
        }
        .name {
          @include font_size_2;
          letter-spacing: 6px;
          @include font_color_3;
          margin-bottom: 15px;
          @include media-breakpoint-up(sm) {
            margin-bottom: 35px;
          }

          span {
            @include font_size_5;
            letter-spacing: 3px;
            padding-left: 10px;
            @include media-breakpoint-up(sm) {
              padding-left: 20px;
            }
          }
        }
        .text {
          @include font_size_9;
          color: rgba($color: #ffffff, $alpha: 0.5);
          line-height: 42px;
        }
      }
    }

    .experience_wrapper {
      margin-bottom: 20px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 80px;
      }

      .exp_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto 10px auto;
        @include media-breakpoint-up(lg) {
          margin: 0px 0px 40px 0px;
        }
  
        .exp_title {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 135px;
          height: 52px;
          background-color: rgba($color: #807671, $alpha: 1.0);
          @include font_size_8;
          @include font_color_3;
          letter-spacing: 3px;
        }
        hr {
          display: none;
          width: 89%;
          height: 2px;
          background-color: rgba($color: #807671, $alpha: 1.0);
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
        .square {
          display: none;
          width: 13px;
          height: 13px;
          border: rgba($color: #807671, $alpha: 1.0) 2px solid;
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
      }
      .exp_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        @include media-breakpoint-up(md) {
          flex-direction: row;
          padding-left: 40px;
        }

        .exp {
          flex-basis: 100%;
          max-width: 225px;
          padding: 10px 15px;
          letter-spacing: 3px;
          border-bottom: #807671 1px solid;
          @include media-breakpoint-up(md){
            flex-basis: 33%;
            max-width: 33%;
            padding: 0px 45px 0px 40px;
            border-right: #807671 1px solid;
            border-bottom: 0px;
          }

          &:last-child {
            border: 0px;
          }

          .item_title {
            @include font_size_9;
            @include font_color_3;
            margin-bottom: 10px;
            @include media-breakpoint-up(sm) {
              margin-bottom: 25px;
            }
          }
          .item {
            @include font_size_11;
            color: rgba($color: #ffffff, $alpha: 0.5);
            line-height: 28px;
          }
        }
      }
    }

    .fonder_word_wrapper {
      padding: 0px 35px;
      @include media-breakpoint-up(sm) {
        padding: 0px;
      }
      .word_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto 15px auto;
        @include media-breakpoint-up(lg) {
          margin: 0px 0px 45px 0px;
        }
  
        .word_title {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 161px;
          height: 52px;
          background-color: rgba($color: #807671, $alpha: 1.0);
          @include font_size_8;
          @include font_color_3;
          letter-spacing: 3px;
          
        }
        hr {
          display: none;
          width: 87%;
          height: 2px;
          background-color: rgba($color: #807671, $alpha: 1.0);
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
        .square {
          display: none;
          width: 13px;
          height: 13px;
          border: rgba($color: #807671, $alpha: 1.0) 2px solid;
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
      }
      .word_content {
        padding: 0px 20px;
        box-sizing: border-box;
        @include font_size_9;
        color: rgba($color: #ffffff, $alpha: 0.5);
        line-height: 30px;
        letter-spacing: 1px;
        text-align: left;
        @include media-breakpoint-up(sm) {
          line-height: 42px;
        }
      }
    }
  }
}