#introduction_block {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F2F0EC;
  @include media-breakpoint-up(lg) {
    padding-top: 180px;
    padding-bottom: 135px;
  }

  .content_wrapper {
    max-width: 1370px;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
    background: url(../images/introduction_bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    @include media-breakpoint-up(lg) {
      padding: 53px 105px;
    }

    .founder_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 80px;

      .image {
        max-width: 495px;

        @include media-breakpoint-up(md){
          margin-top: -90px;
          width: 100%;
        }

        @include media-breakpoint-down(md){
          margin-left: -40px;
          margin-right: -40px;
        }
      }
      .content {
        max-width: 100%;
        width: 100%;
        padding-top: 40px;
        box-sizing: border-box;
        text-align: center;
        @include media-breakpoint-up(lg) {
          max-width: 665px;
          text-align: left;
          padding-left: 60px;
          padding-top: 0px;
        }

        .name {
          font-size: 45px;
          @include media-breakpoint-down(md){
            font-size: 25px;
          }
          letter-spacing: 6px;
          @include main_color;
          margin-bottom: 35px;

          span {
            @include font_size_5;
            letter-spacing: 3px;
            padding-left:20px;
          }
        }
        .text {
          @include font_size_7;
          @include font_color_2;
          letter-spacing: 2px;
        }
      }

      .block_title {
        display: inline-block;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: #EA5717 4px solid;
        padding-bottom: 15px;
        margin-bottom: 50px;
        @include main_color;
        @include media-breakpoint-up(lg) {
          display: block;
          border-bottom: 0px;
          border-left: #EA5717 4px solid;
          padding-left: 15px;
          padding-bottom: 0px;
        }

        .cht {
            @include font_size_3;
            line-height: 36px;
            letter-spacing: 7px;
            margin-bottom: 10px;
        }
        .en {
            @include font_size_8;
            line-height: 24px;
            letter-spacing: 4px;
        }
      }
    }
  }

  .experience_wrapper {
    padding: 0px 20px;
    box-sizing: border-box;
    @include media-breakpoint-up(lg) {
      padding: 0px 60px;
    }
    .exp_title_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto 35px auto;
      @include media-breakpoint-up(lg) {
        margin: 0px 0px 35px 0px;
      }

      @include media-breakpoint-down(md){
        position: relative;
        z-index: 1;
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: rgba(78,65,59,0.7);
          z-index: -1;
        }
      }

      .exp_title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 175px;
        height: 65px;
        @include media-breakpoint-down(sm){
          width: 120px;
          height: 40px;
        }
        background-color: rgba($color: #4E413B, $alpha: 1);
        @include font_size_4;
        @include font_color_3;
        
      }
      hr {
        display: none;
        width: 82%;
        height: 2px;
        background-color: rgba($color: #828282, $alpha: 1.0);
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
      .square {
        display: none;
        width: 13px;
        height: 13px;
        border: rgba($color: #828282, $alpha: 1.0) 2px solid;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
    }
    
    .exp_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
      }

      .exp {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 25px;
        padding-bottom: 10px;
        text-align: center;
        @include media-breakpoint-up(lg) {
          flex-basis: 33%;
          max-width: 33%;
          border-right: rgba($color: #4E413B, $alpha: 0.7) 1px solid;
          margin-right: 25px;
          padding-right: 10px;
          margin-bottom: 0px;
          padding-bottom: 0px;
          text-align: left;
        }

        @include media-breakpoint-down(md){
          border-bottom: 1px solid rgba($color: #4E413B, $alpha: 1);
        }

        &:last-child {
          border: 0px;
        }

        .item_title {
          @include main_color;
          @include font_size_6;
          letter-spacing: 2px;
          margin-bottom: 30px;
        }
        .item {
          @include font_color_2;
          @include font_size_10;
          letter-spacing: 2px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .read_more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 53px;
    background-color: #827671;
    position: absolute;
    margin-left: -105px;
    left: 50%;
    bottom: -26px;

    a {
      @include font_size_9;
      @include font_color_3;
      letter-spacing: 3px;
      font-weight: lighter;
    }
  }
}