#milestone_block{
    background: url(../images/index_milestone_bg.jpg) center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 100px 0px 100px 0px;
    border-bottom: #4E413B 40px solid;
    @include media-breakpoint-up(lg) {
        padding: 275px 0px 210px 0px;
    }

    .content_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1370px;
        width: 100%;
        padding: 55px 45px;
        margin: 0px auto;
        box-sizing: border-box;
        background-color: #4E413B;

        .image {
            max-width: 560px;
            width: 100%;
            margin-top: -110px;
        }
        .content {
            max-width: 100%;
            width: 100%;
            margin-top: 40px;
            color: #fff;
            text-align: center;
            @include media-breakpoint-up(lg) {
                max-width: 670px;
                margin-left: 40px;
                margin-top: 0px;
                text-align: left;
            }
            
            .block_title {
                display: inline-block;
                border-bottom: #fff 4px solid;
                padding-bottom: 15px;
                @include media-breakpoint-up(lg) {
                    display: block;
                    border-left: #fff 4px solid;
                    padding-left: 15px;
                    border-bottom: 0px;
                    padding-bottom: 0px;
                }

                .cht {
                    @include font_size_3;
                    line-height: 36px;
                    letter-spacing: 7px;
                    margin-bottom: 10px;
                }
                .en {
                    @include font_size_8;
                    line-height: 24px;
                    letter-spacing: 4px;
                }
            }
            .slogan {
                @include font_size_5;
                letter-spacing: 3px;
                margin: 40px 0px;
            }
            .text {
                @include font_size_8;
                letter-spacing: 1px;
                margin-bottom: 55px;
            }
            .button {
                @include font_size_8;
                letter-spacing: 2px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 210px;
                height: 50px;
                border: #fff 1px solid;
                margin: 0 auto;
                @include media-breakpoint-up(lg) {
                    margin: 0px;
                }
            }
        }
    }
}