.contact_bg {
  //background-image: url("../images/home_07_contact_bg.png");
  background-color: #F2F0EC;
  padding:0px 15px;
  padding-top: 115px;
}
.w_80{
  width: 80%;
}
input,
textarea{
  &:focus{
    outline: 0px;
  }
}
.contact_block{
  // max-width: 1000px;
  // margin:  0 auto;
  .block_title {
    color:#EA5717;
    margin-bottom: 20px;

    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #EA5717;
      margin: 15px auto;
    }

    .cht {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 7px;
    }

    .en {
      font-size: 24px;
      letter-spacing: 4px;
    }
  }
  p.sub_title{
    color:#4E413B;
    padding-bottom: 30px;
    border-bottom: 1px solid #4E413B;
    margin-bottom: 30px;
  }
  .contact_form{
    padding-left: 80px;
    padding-right: 80px;
    input[type="text"],
    textarea{
      background: transparent;
      color:#4E413B;
    }
    input{
      border:0px;
    }
    input[name="gender"] {
      margin-right:5px;
      margin-left: 5px;
    }
  }
  .border_b_color {
    border-bottom: 1px solid #4E413B;
  }
  .field_wrap{

    margin-bottom: 15px;
    color:#4E413B;

  }
  .textarea_text{
    display: block;
  }
  textarea{
    width: 100%;
    border:1px solid #4E413B;
    padding:10px;
  }
  .submit{
    background-color: #4E413B;
    color:#fff;
    padding:5px 15px;
    cursor: pointer;
    transition: all ,0.5s;
    &:hover{
      color:#4E413B;
      background-color: #EA5717;
    }
  }
  .verification_code{
       background-color: #4E413B;
       color: #fff;
       padding: 6px 20px;
       position: absolute;
       right:15px;
       top:-2px
  }
}

@media (max-width:480px){
  .contact_block {
    .contact_form{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
