#milestone_block{
    background-color: #fff;
    box-sizing: border-box;
    padding: 275px 0px 210px 0px;
    .content_wrapper{
        display: flex;
        max-width: 1370px;
        width: 100%;
        padding: 55px 45px;
        margin: 0px auto;
        box-sizing: border-box;
        background-color: #4E413B;

        .image {
            //先代替圖片
            width: 560px;
            height: 485px;
            background-color: #000;
            margin-top: -110px;
        }
        .content {
            max-width: 670px;
            width: 100%;
            margin-left: 40px;
            color: #fff;
            
            .block_title {
                border-left: #fff 4px solid;
                padding-left: 15px;

                .cht {
                    font-size: 36px;
                    line-height: 36px;
                    letter-spacing: 7px;
                    margin-bottom: 10px;
                }
                .en {
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 4px;
                }
            }
            .slogan {
                font-size: 30px;
                letter-spacing: 3px;
                margin: 40px 0px;
            }
            .text {
                font-size: 24px;
                letter-spacing: 1px;
                margin-bottom: 55px;
            }
            .button {
                font-size: 24px;
                letter-spacing: 2px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 210px;
                height: 50px;
                border: #fff 1px solid;
            }
        }
    }
}