#slideshow_block {
    max-width: 1920px;
    position: relative;

    .slideshow_item {
        position: relative;

        .content_wrap {
            display: none;
            width: 100%;
            position: absolute;
            bottom: 100px;
            left: 0;
            @include media-breakpoint-up(md) {
                display: block;
            }

            .content_item {
                max-width: 1360px;
                width: 100%;
                background-color: rgba($color: #413D3B, $alpha: 0.8);
                padding: 30px;
                margin: 0 auto;

                .content {
                    border: #ffffff 1px solid;
                    @include font_color_3;
                    text-align: center;
                    padding: 30px;
                    box-sizing: border-box;

                    .title {
                        font-size: 42px;
                        line-height: 42px;
                        margin-bottom: 30px;
                    }
                    .text {
                        @include font_size_9;
                        line-height: 22px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    &:hover {
        .bx-controls-direction{
            display: block;
        }
    }
    .bx-caption {
        display: none;
    }

    .bx-controls-direction {
        display: none;
        a {
            position: absolute;
            top: 50%;
            margin-top: -50px;
            width: 100px;
            height: 100px;
            font-size: 0px;
            border-radius: 50%;

            &.bx-prev {
                left: 0px;
                margin-left: 10px;
                background: url(../images/icons/arrowLeft-primary.png) center center no-repeat;
            }
            &.bx-next {
                right: 0px;
                margin-right: 10px;
                background: url(../images/icons/arrowRight-primary.png) center center no-repeat;
            }
        }            
    }
}