#brand_block {
  padding: 140px 0px;
  background-color: #F2F0EC;
  border-top: #4E413B 40px solid;

  .brand_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    margin: 0px auto;

    .item_row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &.row1{
        position: relative;

        &::after {
          content: url(../images/brand_icon.png);
          width:251px;
          height: 214px;
          position: absolute;
          top: -107px;
          @include media-breakpoint-up(lg) {
            display: block;
            top: unset;
            bottom: -107px;
            margin-left: -25px;
          }
        }
        .content_wrapper {
          background: url(../images/brand_bg1.jpg) center center;
          background-size: cover;
          padding-top: 135px;
          @include media-breakpoint-up(lg) {
            padding-top: 30px;
          }
        }
      }
      &.row2{
        .content_wrapper {
          background: url(../images/brand_bg2.jpg) center center;
          background-size: cover;
        }
      }
      &.row3{
        .content_wrapper {
          background: url(../images/brand_bg3.jpg) center center;
          background-size: cover;
        }
      }
      
      .content_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 685px;
        width: 100%;
        text-align: center;
        padding: 30px 10px;
        box-sizing: border-box;
        @include media-breakpoint-up(lg) {
          max-width: 635px;
          padding: 0px;
        }
      }

      .content {

        .title {
          @include font_size_1;
          @include main_color;
          letter-spacing: 5px;
        }
        .sub_title{
          @include font_size_4;
          @include main_color;
          letter-spacing: 4px;

          &::after {
            content: "";
            display: block;
            width: 95px;
            height: 5px;
            background-color: #EA5717;
            margin: 0px auto;
            margin-top: 15px;
          }
        }
        .slogan {
          @include font_size_2;
          @include main_color;
          letter-spacing: 5px;
          margin-bottom: 20px;
        }
        .content {
          @include font_size_6;
          letter-spacing: 3px;
          color: #827671;
          margin-top: 40px;
        }
      }
      .image {
        max-width: 685px;
        width: 100%;
      }
    }
    .row2 {

      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
        margin-right: 48px;
        margin-left: -48px;
      }
    }
  }
  .brand_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 53px;
    background-color: rgba($color: #4E413B, $alpha: 0.7);
    margin: 0px auto;
    margin-top: 65px;

    a {
      @include font_size_9;
      @include font_color_3;
      letter-spacing: 3px;
      font-weight: lighter;
    }
  }
}