#quality_block {
  background-color: #4E413B;
  padding: 50px 0px 60px 0px;
  @include media-breakpoint-up(lg) {
    padding: 150px 0px 120px 0px;
  }
  
  .container{
    max-width: 1310px;
    width: 100%;

    .quality_wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      margin-bottom: 40px;
      @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
        flex-direction: row;
      }

      .quality_content {
        max-width: 100%;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        @include media-breakpoint-up(lg) {
          max-width: 700px;
          padding-right: 30px;
          padding-top: 0px;
          text-align: left;
        }

        .block_title {
          display: inline-block;
          border-bottom: #fff 4px solid;
          padding-bottom: 15px;
          margin-bottom: 65px;
          @include font_color_3;
          @include media-breakpoint-up(lg) {
            display: block;
            border-left: #fff 4px solid;
            border-bottom: 0px;
            padding-left: 15px;
            padding-bottom: 0px;
          }

          .cht {
              @include font_size_3;
              line-height: 36px;
              letter-spacing: 4px;
              margin-bottom: 10px;
          }
          .en {
              @include font_size_8;
              line-height: 24px;
              letter-spacing: 4px;
          }
        }
        .block_slogan {

          .slogan {
            @include font_size_3;
            @include font_color_3;
            letter-spacing: 4px;
            margin-bottom: 20px;
          }
          .remark {
            font-size: 21px;
            color: #fff;
            opacity: 0.5;
            margin-bottom: 50px;
          }
        }
        .block_content {
          @include font_size_9;
          line-height: 37px;
          letter-spacing: 1px;
          color: #fff;
          opacity: 0.5;
        }
      }
      .quality_image {
        max-width: 610px;
        width: 100%;
        margin: 0 auto;
        @include media-breakpoint-up (lg) {
          max-width: 610px;
          margin: 0px;
        }
      }
    }
  }

  .category_wrapper {
    .category_title_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto 60px auto;
      @include media-breakpoint-up(lg) {
        margin: 0px 0px 60px 0px;
      }

      .category_title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 53px;
        background-color: #827671;
        @include font_size_8;
        letter-spacing: 2px;
        @include font_color_3;
      }
      hr {
        display: none;
        width: 89%;
        height: 2px;
        background-color: rgba($color: #828282, $alpha: 1.0);
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
      .square {
        display: none;
        width: 13px;
        height: 13px;
        border: rgba($color: #828282, $alpha: 1.0) 2px solid;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
    }

    .row {
      max-width: 1260px;
      width: 100%;
      margin: -25px auto;

      > * {
        padding: 25px;

        &::after {
          content: "";
          display: block;
          width: 90px;
          height: 2px;
          background-color: #fff;
          margin: 0px auto;
          margin-top: 50px;
        }

        a {
          padding: 0;

          &.image {
            margin-bottom: 40px;
            text-align: center;

            .image_wrap {
              display: inline-block;
              position: relative;

              img {
                max-width: 276px;
                width: 100%;
              }
              .number {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                @include font_size_8;
                @include font_color_3;
                background-color: #827671;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }

          &.link {
            display: flex;
            height: 60px;
            justify-content: center;
            align-items: center;

            .title {
              @include font_size_8;
              text-align: center;
              @include font_color_3;
            }
          }

          &:hover {
            color: #f4c1b0;
          }
        }
      }
    }
  }
}