#introduction_slider_block {
  background-color: #F2F0EC;

  .block_title {
    @include block-title-style-2(#EA5717,36px,24px);
    padding: 30px 0px;
    margin: 0px;
    border-bottom: #EA5717 3px solid;
    @include media-breakpoint-up(sm) {
      padding: 55px 0px;
      border-bottom: #EA5717 15px solid;
    }
  }
  .slideshow_wrapper {

    .slider_item {
      position: relative;

        .image_content {
            display: none;
            width: 100%;
            position: absolute;
            bottom: 100px;
            left: 0;
            @include media-breakpoint-up(md) {
                display: block;
            }

            .content_wrap {
                max-width: 1360px;
                width: 100%;
                background-color: rgba($color: #413D3B, $alpha: 0.8);
                padding: 30px;
                margin: 0 auto;

                .content {
                    border: #ffffff 1px solid;
                    @include font_color_3;
                    text-align: center;
                    padding: 30px;
                    box-sizing: border-box;

                    .title {
                        font-size: 42px;
                        line-height: 42px;
                        margin-bottom: 30px;
                    }
                    .text {
                        @include font_size_11;
                        line-height: 22px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .bx-controls {
      display: none;
    }
  }
  .slideshow_images {
    border-top: #EA5717 3px solid;
    display: flex;
    @include media-breakpoint-up(sm) {
      border-bottom: #EA5717 15px solid;
    }
  }
}