#member_page {
  background-color: #4E413B;

  .login_form_block {
    padding: 140px 0px 105px 0px;

    .form_block_wrapper {
      padding: 13px;
      border: rgba($color: #ffffff, $alpha: 0.5) 1px solid;
      box-sizing: border-box;
      text-align: center;
      position: relative;

      .form_wrapper {
        padding: 30px 10px;
        border: rgba($color: #ffffff, $alpha: 0.5) 1px solid;
        box-sizing: border-box;
        @include media-breakpoint-up(sm) {
          padding: 90px 10px;
        }

        .vip_link {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-bottom: 20px;
          @include media-breakpoint-up(sm) {
            position: absolute;
            top: -22px;
            left: 0px;
          }

          &::before {
            content: "";
            display: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 28px 20px 28px 0;
            border-color: transparent #333333 transparent transparent;
            transition: all .5s;
            @include media-breakpoint-up(sm) {
              display: block;
            }
          }

          &::after {
            content: "";
            display: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 28px 0px 28px 20px;
            border-color: transparent transparent transparent #333333;
            transition: all .5s;
            @include media-breakpoint-up(sm) {
              display: block;
            }
          }

          a {
            display: inline-block;
            padding: 12px 80px;
            color: #ffffff;
            font-size: 30px;
            line-height: 30px;
            background-color: #333333;
          }

          &:hover {
            a {
              background-color: #ffffff;
              color: #333333;
            }
            &::before {
              border-color: transparent #ffffff transparent transparent;
            }
            &::after {
              border-color: transparent transparent transparent #ffffff;
            }
          }
        }
        .login_icon {
          margin-bottom: 90px;
        }
        form {
          max-width: 530px;
          width: 100%;
          margin: 0 auto;
          .field_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: rgba($color: #ffffff, $alpha: 0.7) 1px solid;
            margin-bottom: 85px;
            @include media-breakpoint-up(md) {
              flex-wrap: nowrap;
            }

            label {
              font-size: 30px;
              letter-spacing: 3px;
              color: rgba($color: #ffffff, $alpha: 0.7);
              margin-right: 15px;
              white-space: nowrap;
            }
            input {
              width: 100%;
              font-size: 30px;
              color: rgba($color: #ffffff, $alpha: 0.7);
              background-color: transparent;
              border: 0px;
            }
          }
          .form_actions {
            display: flex;
            width: 100%;
            justify-content: center;
            position: absolute;
            bottom: -26px;
            left: 0px;

            input {
              display: inline-block;
              font-size: 22px;
              letter-spacing: 3px;
              color: #ffffff;
              background-color: #333333;
              padding: 15px 80px;
              border: 0px;
              transition: all .5s;
              cursor: pointer;

              &:hover {
                color: #333333;
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}