#news_list_page {
  background-color: #4E413B;
}

.news_first_content_block {
  max-width: 1350px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  @include media-breakpoint-up(md) {
    padding: 110px 20px;
  }

  .news_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      margin-bottom: 58px;
    }

    .news_content_wrapper {
      width: 100%;
      padding-bottom: 40px;
      text-align: center;
      @include media-breakpoint-up(lg) {
        max-width: 700px;
        text-align: left;
        padding-right: 40px;
        padding-bottom: 0;
      }

      .block_title {
        display: inline-block;
        border-bottom: #fff 4px solid;
        padding-bottom: 15px;
        margin-bottom: 20px;
        @include font_color_3;
        @include media-breakpoint-up(lg) {
          display: block;
          border-left: #fff 4px solid;
          border-bottom: 0;
          padding-left: 15px;
          padding-bottom: 0;
          margin-bottom: 35px;
        }

        .cht {
          @include font_size_3;
          line-height: 36px;
          letter-spacing: 4px;
          // margin-bottom: 10px;
        }

        .en {
          @include font_size_8;
          line-height: 24px;
          letter-spacing: 4px;
        }
      }

      .content_wrap {
        position: relative;

        .title {
          margin-bottom: 10px;
          @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
          }

          a {
            font-size: $font_size_11;
            @include media-breakpoint-up(md) {
               @include font_size_3;
            }
            @include font_color_3;
            letter-spacing: 2px;
          }
        }

        .date {
          font-size: $font_size_11;
          color: #ffffff;
          letter-spacing: 2px;
          // margin-bottom: 25px;
          @include media-breakpoint-up(md) {
             @include font_size_3;
          }
          @include media-breakpoint-up(lg) {

            margin-bottom: 0;
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .text {
          color: rgba($color: #ffffff, $alpha: 0.5);
          letter-spacing: 2px;
          line-height: 36px;
          margin-bottom: 30px;
          font-size: $font_size_12;
          @include media-breakpoint-up(md) {
             @include font_size_9;
          }
        }

        .read_more {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 40px;
          border: #fff 1px solid;
          margin: 0 auto;
          @include media-breakpoint-up(md) {

            width: 210px;
            height: 50px;
          }
          @include media-breakpoint-up(lg) {
            margin: 0;
          }

          a {
            @include font_size_8;
            letter-spacing: 2px;
            color: #fff;
          }
        }
      }
    }
  }
}
