#pc_header {
  display: none;
  position: relative;
  z-index: 500;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(20%,20%,40%,0.3);
  @include media-breakpoint-up(lg) {
    display: block;
  }

  .pc_header_wrap {
    display: flex;
    max-width: 1334px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: -100px;
    box-sizing: border-box;
   

    .main_logo {
      padding: 13px 0px;
    }
    .main_menu_wrapper {
  
      ul.main_menu {
        display: flex;
        list-style: none;
        padding: 0px;
        margin: 0px;
      }
  
      li.menu_item {
        border-right: #4E413B 1px solid;
        padding: 0px 25px;
  
        &:last-child {
          border: 0px;
        }
  
        a {
          @include font_size_8;
          line-height: 24px;
          letter-spacing: 2px;
          @include font_color_1;
        }
      }
    }
  }
}


.mobile_header {
  display: block;
  box-shadow: 0px 5px 5px rgba(20%,20%,40%,0.3);
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

header {
  nav {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    button {
      padding: 0;
      border: none;
      margin-left: auto;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .open {
        opacity: unset;
        background-color: #ffffff;
      }
      .close {
        display: none;
        opacity: unset;
      }

      &[aria-expanded="true"] {
        .open {
          display: none;
        }

        .close {
          display: block;
        }
      }
    }

    .navbar-brand {
      margin: 0;
      padding: 0;
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      @media screen and (min-width: 320px) and (max-width: 350px) {
        left: 40%;
      }
    }
  }

  .menu_wrapper {
    overflow-y: scroll;
    width: 100%;
    max-width: 480px;
    text-align: center;
    background-color: #EA5717;
    padding: 48px 0;

    &.show {
      height: 88vh;
      @at-root header {
        background-color: rgba($color: #231815, $alpha: 0.5);
      }
    }

    .menu {
      margin: -35px 0;

      li {
        padding: 35px 0;

        &.active,
        &:hover {
          a {
            color: white;
          }
        }

        a {
          color: rgb(244,193,176);
          // line-height: 36px;

          &:hover {
            text-decoration: none;
          }
        }
      }

    }
  }

}
