include ../../../mixin/cover-banner.pug

#member_banner_block.member_banner_block
    +cover-banner('./images/member_banner.jpg', '700px')
    .banner_icon
        img(src="./images/member_banner_icon.png")