extends ../../layouts/default.pug

block head 
    title 敦泰里程

block content
    h1(style="display:none") 敦泰里程
    include blocks/banner.pug
    #mileston_content.milestone_content
        .milestone_content_wrapper
            include blocks/title-block.pug
            include blocks/milestone.pug