#brand_block.brand_block
  .brand_wrapper
    .row.row1
      .content
        .title 敦泰本善
        .slogan 世族品味  名家標準
        .content 以本善為首案命名 ，<br/>銘誌祖母的諄諄教誨 ，<br/>與人為善的本心 ，<br/>始終秉持良善謙和 ，<br/>永不忘本 ， 銘記本善初衷 。<br/>本於初衷 ， 臻於至善 。
      .image
    .row.row2
      .content
        .slogan 進駐下一個七期 <br/> 引領下一個盛世
        .text 緊鄰十二期水湳經貿園區 <br/> 三分鐘74號道 、 十分鐘高鐵 <br/> 環繞新光 、 遠百 、 逢甲成熟商圈
      .image
    .row.row3
      .content
        .slogan 12戶<br/>全齡化電梯別墅
        .text 百坪大空間 ，<br/>一次到位生活空間需求 ， <br/>每層樓都是獨立空間 ，<br/>恰好的距離 ，<br/>同聚生活又享有隱私的角落 。
      .image
  .brand_btn.h3.font-weight-normal.text-center
      a(href="./introduction.html") 了解更多

  
