#introduction_block.introduction_block.px-lg-0.px-5
  .content_wrapper
    .founder_wrapper
      .block_title.d-md-none.d-block
          .cht 創辦人
          .en Founder
      .image
        img(src="./images/index_introducer.jpg", alt="")
      .content
        .block_title.d-md-block.d-none
          .cht 創辦人
          .en Founder
        .name 楊世裕
          span 先生
        .text 敦泰建設創立於2013年6月;出身中部知名企業家族、建築業家學淵源背景，旅美多年回國，沒有選擇在富三代的舒適圈中安穩度日，而選擇實現自己的建築及創業理念，創立了敦泰建設 。
    .experience_wrapper
      .exp_title_wrap
        .exp_title 學 、 經歷
        hr
        .square
      .exp_wrap
        .exp.education 
          .item_title 學歷
          .item 美國德州州立大學<br/>企業暨會計碩士
          .item 東海大學政治系 學士
          .item 美國註冊會計師
          .item 國家地政士考試合格
          .item 不動產經紀人考試合格
        .exp.experience
          .item_title 經歷
          .item 美國LPX會計師事務所
          .item 美國Jene's Collection<br/>營運暨財務副總
          .item 太日東龍建設開發股份有限公司<br/>副董事長
        .exp.rotary_club
          .item_title 扶輪社經歷
          .item 台中東海扶輪社
          .item 台中黎明扶輪社<br/>創設秘書，第二屆社長
    .read_more
      a(href="./about.html") 了解更多