#milestone_block.milestone_block
    .content_wrapper
        .image
        .content
            .block_title
                .cht 敦泰里程
                .en History
            .slogan 以寫歷史的心態 ， 用心打造每一個歷程
            .text 一個用心耕耘的建築團隊 、 一個您可以安居信賴的企業 ，一份以永續與國際眼光經營建築的初衷 。
            a.button(href="./milestone.html") 查看里程