#news_block.news_block
  .news_wrap
    .first_news_row
      .news_content_wrap
        .block_title
          .cht 最新消息
          .en News
        .content_wrap
          .title
            a.news_link(href="/") 西苑高中美化牆
          .date 2018.03.30
          .text 敦泰建設創辦人楊世裕樂善好施，在台中12期豪墅案完美落成之際，協助西苑高中美化校園內的藝術廊道，讓學生們藉由賞心悅目的藝術走廊沉澱心靈；還有他親自寫作的「 本善記 」輸出成一道詩牆，與學生分享創作現代詩賦之樂趣。
          .read_more
            a.news_link(href="/") 閱讀更多
      .news_image
        img(src="../images/first_news.jpg",width="610" alt="")
    .other_news_row
      .other_news_wrap
        .news_item.item_row1
          .item_wrap
            .image
              a.news_link(href="/")
                img(src="../images/index_news_item.jpg", alt="")
            .title
              a.news_link(href="/") 台中綠美圖<br/>讓人不自覺想進來 
            .date 2018.03.30
        .news_item.item_row2
          .item_wrap
            .image
              a.news_link(href="/")
                img(src="../images/index_news_item.jpg", alt="")
            .title
              a.news_link(href="/") 台中綠美圖<br/>讓人不自覺想進來 
            .date 2018.03.30
        .news_item.item_row3
          .item_wrap
            .image
              a.news_link(href="/")
                img(src="../images/index_news_item.jpg", alt="")
            .title
              a.news_link(href="/") 台中綠美圖<br/>讓人不自覺想進來 
            .date 2018.03.30
        .news_item.item_row4
          .item_wrap
            .image
              a.news_link(href="/")
                img(src="../images/index_news_item.jpg", alt="")
            .title
              a.news_link(href="/") 台中綠美圖<br/>讓人不自覺想進來 
            .date 2018.03.30
    .read_more 
      a.news_link(href="/") 更多消息