#slideshow_block.slideshow_block
    .bxslider
        a.h4.font-weight-normal.mb-0(href="/")
            img(src='./images/index_slideshow.png', title='首頁輪播圖片1')
        a.h4.font-weight-normal.mb-0(href="/")
            img(src='./images/index_slideshow.png', title='首頁輪播圖片2')
        a.h4.font-weight-normal.mb-0(href="/")
            img(src='./images/index_slideshow.png', title='首頁輪播圖片3')