#slideshow_block.slideshow_block
    .bxslider
        a.font-weight-normal.mb-0.slideshow_item(href="/")
            img(src='./images/index_slideshow.jpg', title='首頁輪播圖片1')
            .content_wrap
                .content_item
                    .content
                        .title 歷史傳承 開創新局
                        .text 建築學家、歷史企業淵源、敦泰建設謹記訓勉、開創全新榮耀
        a.font-weight-normal.mb-0.slideshow_item(href="/")
            img(src='./images/index_slideshow.jpg', title='首頁輪播圖片2')
            .content_wrap
                .content_item
                    .content
                        .title 歷史傳承 開創新局2
                        .text 建築學家、歷史企業淵源、敦泰建設謹記訓勉、開創全新榮耀
        a.font-weight-normal.mb-0.slideshow_item(href="/")
            img(src='./images/index_slideshow.jpg', title='首頁輪播圖片3')
            .content_wrap
                .content_item
                    .content
                        .title 歷史傳承 開創新局3
                        .text 建築學家、歷史企業淵源、敦泰建設謹記訓勉、開創全新榮耀