#slideshow_block.slideshow_block
    .bxslider
        a.h4.font-weight-normal.mb-0(href="/")
            img(src='./images/slideshow.png', title='線上工程進度照片即時更新瀏覽')
        a.h4.font-weight-normal.mb-0(href="/")
            img(src='./images/slideshow.png', title='線上工程進度照片即時更新瀏覽2')
        a.h4.font-weight-normal.mb-0(href="/")
            img(src='./images/slideshow.png', title='線上工程進度照片即時更新瀏覽3')