footer#footer
    .content_wrapper
        .logo_wrapper
            .logo
                img(src="../../../images/footer_logo.png", alt="", width="200")
        .row_wrapper
            .row
                .about_us
                    .wrapper.font-weight-normal
                        .title
                            .cht 關於敦泰
                            .en About Us
                        .slogan 敦勉誠篤  永續安泰
                        .content
                            .content_item.row1 一個用心耕耘的建築團隊
                            .content_item.row2 一份以永續與國際眼光經營建築的初衷
                            .content_item.row3 一個您可以安居信賴的企業
                .contact_us
                    .wrapper.font-weight-normal
                        .title
                            .cht 聯絡我們
                            .en Contact Us
                        .address
                            .cht 台中市西屯區市政路386號25樓之8
                            .en 25F.-8, No.386, Shizheng Rd., Xitun Dist., Taichung, Taiwan
                        .contact
                            .phone 市話：04-22595191 ｜ 客服：0800-328-168
                            .fax 傳真：04-22593191
                        .email
                            .mail service@gvreg.com
                            .text 歡迎來信聯絡
    .footer_menu_wrapper
        .menu_wrapper
            ul.footer_menu
                li.menu_item
                    a.menu_link(href="./news.html") 最新消息
                li.menu_item
                    a.menu_link(href="./about.html") 關於我們
                li.menu_item
                    a.menu_link(href="./milestone.html") 敦泰里程
                li.menu_item
                    a.menu_link(href="./introduction.html") 建案介紹
                li.menu_item
                    a.menu_link(href="./member.html") 會員專區
                li.menu_item
                    a.menu_link(href="./contact.html") 聯絡我們
            ul.footer_icon
                li.menu_item.fb
                    a.menu_link(href="www.google.com") fb
                li.menu_item.line
                    a.menu_link(href="www.google.com") line
    .copyright.small 建議瀏覽器版本為IE9.0以上，本網站內容享有著作權，禁止侵害，違者必究。 2018 敦泰建設
    
