include ../../../mixin/card01
include ../../../mixin/pager

-
  var newsPageData = {
    1:{ 
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
      },
    2:{ 
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
      },
    3:{ 
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
      },
    4:{ 
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
      },
    5:{ 
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
      },
    6:{ 
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
      },
    7:{
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
    },
    8:{
        title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
        image: '../../../images/news_list_image.jpg',
        date: '2018.03.30', 
        link: '/newsNode.html'
    },
   }


.news_list_block
  .news_list_wrap
    ul.row.item_wrap
      each item, index in newsPageData
          li.news_item.d-flex.col-lg-3.col-md-3.col-sm-6.col-xs-12(class=(index == 3 ? 'd-xs-none': ''))
            +card01(item)
  .d-flex.justify-content-center
    +pager(5, 'white')
