#news_tab_menu
  ul.tab
    li.item 
      a.item_link(href="newsCatgory1.html") 最新消息
    li.item 
      a.item_link(href="newsCatgory2.html") 公益資訊
    li.item 
      a.item_link.active(href="newsCatgory3.html") 建案進度
  hr
  .square