extends ../../layouts/default.pug

block head
    title 最新消息

block content
    
    .news_node.text-white
      .container.py-5
         h1.node-title.text-center(class="mb-5") 西苑高中美化牆
         
         img(class="mb-3" src="./images/news_node_2.jpg")
           
         p.h4(class="mb-5" style="color: #B1ACAC;") 敦泰建設美化校園藝術廊道，讓學生們藉由賞心悅目的走廊沉澱心靈。
         
         .wrap(class="mb-5").d-flex.justify-content-between.align-items-end.border-bottom.border-white
           h2(class="mb-0") 敦泰建設美化校園藝術廊道 優化周邊環境
           h4(class="mb-1") 2018-02-27
           
         .body(class="mb-5")
           p(style="color: #B1ACAC;") 敦泰建設創辦人楊世裕樂善好施，在台中12期豪墅案完美落成之際，協助西苑高中美化校園內的藝術廊道，讓學生們藉由賞心悅目的藝術走廊沉澱心靈；還有他親自寫作的「本善記」輸出成一道詩牆，與學生分享創作現代詩賦之樂趣。

           p(style="color: #B1ACAC;") 西苑高中表示，敦泰建設是他們的好鄰居，3年多前，自從位於西苑高中正對面的「敦泰本善」別墅開始動工後，校園需要棧板，敦泰建設一口答應捐贈，此次更是義不容辭主動提升校園綠美化，接下來，還有為學校植樹計畫。

           p(style="color: #B1ACAC;") 特別一提的是，楊世裕去年在擔任台中黎明扶輪社社長時，創立扶少團也選在西苑高中，西苑扶少團讓青少年體驗思考做公益的樂趣，學習一起合作幫助他人及增進國際瞭解。

           p(style="color: #B1ACAC;") 「本善記」的作者楊世裕說，他記得小時候祖母最常叮囑他做人為善的道理，他從美國回到台灣創業後，親自創作這首「本善記」，本善也是敦泰建設第一個建案的名稱，闡述他們做事態度與企業文化的中心思想，期望為台中建築一棟值得世代珍藏的至善城堡。花了三年半的時間，「敦泰本善」終於完美落成，處處展現精工手法，基地560坪，規劃12戶獨棟、雙併別墅，目前實品屋完工，吸引一波看屋潮。

           p(style="color: #B1ACAC;") 基地鄰近占地逾2.5公頃的文修公園與未來水湳經貿園區內占地70公頃的中央公園「青翠園」，還規畫有水岸自行車道，讓此區的別墅保值性強。
           
         .book.h4.d-flex.justify-content-center
           a(style="color: #ffffff;") < 上一篇
           a(href="news" style="color: #ffffff;").px-5 返回文章列表
           a(style="color: #ffffff;") 下一篇 >
 
         
        
  
  
