.milestone_title_block
    .content_wrap
        .block_title
            .cht 敦泰里程
            .en History
        .content 敦泰建設從2012年至今<br>一步步留下踏實的足跡
    .content_image
        img(src="./images/milestone_title_image.jpg")