.milestone_content_block
    .slogan 以寫歷史的心情<br>走下每一步
    .milestone_wrapper
        .milestone_item.item_1
            .content_image_wrapper
                .image_item
                    img(src="./images/milestone_2013_1.jpg")
                .image_item
                    img(src="./images/milestone_2013_2.jpg")
            .content_wrapper
                .date 2013
                .title 敦泰建設正式成立
                .event.item_wrap
                    .sub_title 敦泰事紀
                    .item -辦公室動工
                    .item -敦泰建設正式成立
                    .item -敦泰建設開幕茶會
                    .item -敦泰本善執照
                .construction.item_wrap
                    .sub_title 建設本善
                    .item -購入第一塊基地
                    .item -敦泰本善基地美化
                    .item -第一塊廣告看板
                    .item -敦泰本善基地聖誕佈置
        .milestone_item.item_2
            .content_image_wrapper
                .image_item
                    img(src="./images/milestone_2014_1.jpg")
                .image_item
                    img(src="./images/milestone_2014_2.jpg")
            .content_wrapper
                .date 2014
                .title 敦泰本善動工動土典禮
                .event.item_wrap
                    .sub_title 敦泰事紀
                    .item -成立一週年
                    .item -敦泰職福會成立
                    .item -企業廣告看板
                .construction.item_wrap
                    .sub_title 建設本善
                    .item -敦泰本善動工動土典禮
                    .item -本善記完成
                    .item -本善一樓板灌漿
                    .item -敦泰本善上樑典禮
        .milestone_item.item_3
            .content_image_wrapper
                .image_item
                    img(src="./images/milestone_2015_1.jpg")
            .content_wrapper
                .date 2015
                .title 獲得國家卓越建設獎
                .event.item_wrap
                    .sub_title 敦泰事紀
                    .item -成立兩週年
                .construction.item_wrap
                    .sub_title 建設本善
                    .item -獲得國家卓越建設獎
                    .item -取得使用執照
                    .item -榮獲國家建築金質獎
        .milestone_item.item_4
            .content_image_wrapper
                .image_item
                    img(src="./images/milestone_2016_1.jpg")
                .image_item
                    img(src="./images/milestone_2016_2.jpg")
            .content_wrapper
                .date 2016
                .title 榮獲國家優良建商
                .event.item_wrap
                    .sub_title 敦泰事紀
                    .item -榮獲國家優良建商
                    .item -成立三週年
                .construction.item_wrap
                    .sub_title 建設本善
                    .item -本善紀書法比賽
                    .item -首次建築體驗營-台南毛屋
        .milestone_item.item_5
            .content_image_wrapper
                .image_item
                    img(src="./images/milestone_2017_1.jpg")
                .image_item
                    img(src="./images/milestone_2017_2.jpg")
            .content_wrapper
                .date 2017
                .title 敦泰本善滂礡落成
                .event.item_wrap
                    .sub_title 敦泰事紀
                    .item -成立四週年
                    .item -第二代辦公室
                .construction.item_wrap
                    .sub_title 建設本善
                    .item -本善銅雕安座
                    .item -敦泰本善滂礡落成
                .activity.item_wrap
                    .sub_title 敦泰活動
                    .item -全員出動做公益
        .milestone_item.item_6
            .content_image_wrapper
                .image_item
                    img(src="./images/milestone_2018_1.jpg")
            .content_wrapper
                .date 2018
                .title 全國各大公會參訪
                .activity.item_wrap
                    .sub_title 敦泰活動
                    .item -新竹縣不動產參訪
    .continues
        .lebal Our story continues...
                