$font_size_1: 48px;
$font_size_2: 44px;
$font_size_3: 36px;
$font_size_4: 32px;
$font_size_5: 30px;
$font_size_6: 28px;
$font_size_7: 26px;
$font_size_8: 24px;
$font_size_9: 22px;
$font_size_10: 20px;
$font_size_11: 18px;
$font_size_12: 12px;

//此處為文字大小變數

@mixin font_size_1 {
  font-size: $font_size_1;
  @include media-breakpoint-down(sm){
      font-size: $font_size_1 * 0.6;
  }
}

@mixin font_size_2 {
  font-size: $font_size_2;
  @include media-breakpoint-down(sm){
      font-size: $font_size_2 * 0.6;
  }
}

@mixin font_size_3 {
  font-size: $font_size_3;
  @include media-breakpoint-down(sm){
      font-size: $font_size_3 * 0.6;
  }
}

@mixin font_size_4 {
  font-size: $font_size_4;
  @include media-breakpoint-down(sm){
      font-size: $font_size_4 * 0.6;
  }
}
@mixin font_size_5 {
  font-size: $font_size_5;
  @include media-breakpoint-down(sm){
      font-size: $font_size_5 * 0.6;
  }
}

@mixin font_size_6 {
  font-size: $font_size_6;
  @include media-breakpoint-down(sm){
      font-size: $font_size_6 * 0.6;
  }
}

@mixin font_size_7 {
  font-size: $font_size_7;
  @include media-breakpoint-down(sm){
      font-size: $font_size_7 * 0.6;
  }
}

@mixin font_size_8 {
  font-size: $font_size_8;
  @include media-breakpoint-down(sm){
      font-size: $font_size_8 * 0.6;
  }
}

@mixin font_size_9 {
  font-size: $font_size_9;
  @include media-breakpoint-down(sm){
      font-size: $font_size_9 * 0.6;
  }
}

@mixin font_size_10 {
  font-size: $font_size_10;
  @include media-breakpoint-down(sm){
      font-size: $font_size_10 * 0.6;
  }
}

@mixin font_size_11 {
  font-size: $font_size_11;
  @include media-breakpoint-down(sm){
      font-size: $font_size_11 * 0.6;
  }
}

@mixin font_size_12 {
  font-size: $font_size_12;
  @include media-breakpoint-down(sm){
      font-size: $font_size_12 * 0.6;
  }
}

//此數為文字顏色

@mixin main_color {
  color: #ea5717;
}

@mixin font_color_1 {
  color: #4e413b;
}

@mixin font_color_2 {
  color: rgba($color: #4e413b, $alpha: 0.7);
}

@mixin font_color_3 {
  color: #fff;
}

@mixin font_color_4 {
  color: #000;
}

//此處為樣式mixin

//block title style 1

@mixin block-title-style-1($color, $cht, $en) {
  display: inline-block;
  color: $color;
  border-bottom: $color 4px solid;
  padding-bottom: 15px;
  @include media-breakpoint-up(lg) {
    display: block;
    border-left: $color 4px solid;
    padding-left: 15px;
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .cht {
    font-size: $cht;
    line-height: 36px;
    letter-spacing: 7px;
    margin-bottom: 10px;
  }
  .en {
    font-size: $en;
    line-height: 24px;
    letter-spacing: 4px;
  }
}

//block title style 2

@mixin block-title-style-2($color, $cht, $en) {
  color: $color;
  margin-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: $color;
    margin: 15px auto;
  }

  .cht {
    font-size: $cht;
    line-height: $cht;
    letter-spacing: 7px;
  }

  .en {
    font-size: $en;
    letter-spacing: 4px;
  }
}
