.contact_content_wrapper
    .content_wrapper
        .block_title
            .cht 聯絡我們
            .en Contact Us
        .name 敦泰開發建設企業有限公司
        .address 台中市西屯區市政路386號16樓之1
        .service 24小時客服專線 0800-328-168
        .phone 電話：04-22593191
        .fax 傳真：04-22595191
        .email 信箱：service@gvreg.com
    .content_image
        img(src="./images/contact_map.jpg")
    