extends ../../layouts/default.pug

block head
    title 聯絡我們

block content
    include blocks/banner.pug
    #contact_page.contact_page
        .contact_wrap
            include blocks/content.pug
            include ../index/blocks/contact.pug
            


