include ../../../mixin/cover-banner.pug

#about_banner_block.about_banner_block
    +cover-banner('./images/about_banner.jpg', '700px')
    .slogan 創辦人的創業理念、心路歷程、自我期許及對社會的承諾
    //+cover-banner("./images/about_banner_2.png","500px")
    .idea_block_wrap
        .idea_block
            .title 本善紀
            p 自海歸日起，日夜夙昔，有焉興築，<br>特書為文，以明志正己，求存心在運用妙處，<br>秉初衷不想一二，定善礎不變萬千，<br>反覆間求天地四季，楣岫中藏堂名四知，<br>今既定業中臺一地，<br>往昔美西歐亞，湍飛之意，灌注一磚一石，<br>端正之中，不作空想翻覆，<br>本於存心，一心立邑養阜，<br>善眼擇地，觀於西屯福星，<br>養學興化，氣韻涵雅天成，居者有德。
            p 祖德撫我育我，諸般陳義，<br>青壯竟志意堅，有懷萬千。<br>去國懷鄉情濃，不舍遠近，<br>伴親鄰歸衷全，必有先後。<br>踏尋反覆，終得一地之開，<br>往來籌鑄，必收萬縷擘畫。
            p 植栽非凡起始，開闢高低，<br>思度躊躇見著，胸有成竹。<br>踏足斯土，終明凡地屋宇，從其氣成大宙，<br>探至穹蒼，得參透明此域，以心念還方圓。
            p 競競開業，癸巳夏至，有朋盛情由四海來賀，<br>戰戰肇基，甲午初春，無疆廣域自八方而起。
            p 淵源從來，裕族中本持庸，多方納賢，<br>拔空蒼鬱山秀，蘊藏鄉里英傑，文貴齊行。<br>深厚親土，世居臺地雅善，百般教化，<br>乘浪碧波海闊，滋逸秀育瑞才，崢嶸比肩。
            p 據此惟爾，仍念祖訓賢良，<br>不敢忘焉，蘊染斯地斯人。<br>稟先哲志，持盈泰然訓勉，<br>莫敢或忘，數代敦樸家風。
            p 古今華漢匠砌，獨尊魯班師法，<br>若究盈心沛然，子美孟軻於先。
            p 想工部杜詩以來，<br>安得廣廈獨重俱天下歡顏。<br>承亞聖著述而降，<br>民貴社稷同勝居廟堂諸君。
            p 一邸之形，有石者運從自然造化，<br>內外萬端，吉光者自如片羽燦燦。
            p 風起乃造氣行，徑生於華，<br>水生人物兩處，姿從於寬。<br>階無顛簸陡峭，暢所能行，<br>間不錯落滯難，室殊山川。<br>使君能居，百年不過一瞬，<br>閱書行文，酣暢忘時如風。
            p 本乎一心，則心不懼光陰久長，<br>並百工同築國士之居。<br>稟良行善，則行諾勝金木土石，<br>闢一境希比泰山之適。<br>端造虔敬，真鑄本善，<br>祈使能長存焉。
            p 歲次甲午季春書於敦泰建設