include ../../../mixin/cover-banner.pug

#about_banner_block.about_banner_block
    +cover-banner('./images/about_banner.jpg', '700px')
    .slogan 創辦人的創業理念、心路歷程、自我期許及對社會的承諾
    +cover-banner("./images/about_banner_2.png","500px")