#about_customer_block.about_customer_block
    .customer_wrapper
        .block_title
            .cht 客戶服務
            .en Servise
        .slogan 全程暨全員客服<br/>永續服務承諾 ： 我們一直都在 ！
        .content 客服從規劃上即已開始 ， 每一根鋼筋綁紮 、 每一次灌漿等所有細節與進度 ， 乃至銷售及交屋後的服務 ， 在在都是客服的過程與範疇 。 敦泰所有組織人員 ， 不分職務 ， 每一位都是客服人員 ， 並有著一致的目標 : 為我們的朋友設想並解決問題 ， 達到最高的滿意度 。 自己將自己的作品交給自己的客戶 ， 從銷售 、 客服 、 交屋 ， 每一個過程都是由我們為您服務 。
    .customer_image
        //img(src="", alt="")
        .image_slogan 您的聲音 我們隨時傾聽
