#about_service_block.about_service_block
    .service_wrapper
        .block_title
            .cht 貼心服務
            .en Servise
        .block_image
            img(src="./images/about_service_image_1.jpg")
        .service_content
            .content_wrap
                .slogan 24小時政策<br>定時保養提醒
                .content 報修 、 客訴及諮詢服務24小時內回覆<br>24小時客服專線 ： 0800-328-168
        .service_banner
            img(src="./images/about_service_banner.jpg")
        .service_item_row_1
            .title 關心您的家
            .service_item_wrapper
                .service.item_1
                    .item 舉辦施工說明會
                    .item 完整建築履歷紀錄及維護說明
                    .item 線上工程進度照片即時更新瀏覽
                    .item 變更設計作業
                    .item 工地帶看參觀
                    .item 房屋保固服務
                .service.item_2
                    .item 保固期後修繕諮詢服務
                    .item 優良廠商提供
                    .item 數位房屋資訊及諮詢平台經營
                    .item 邀約住戶參觀協力廠商
                    .item 請協力廠商舉辦說明會
                    .item 颱風、地震後派員檢查門窗或其他設
                .service.item_3
                    .item 年度社區公設健檢
                    .item 年度房屋健檢
                    .item 緊急維護服務
                    .item 室內裝潢建議及諮詢
        .service_item_row.item_row_2
            .item_wrap
                .title 關心您的生活
                .item 社區聯誼活動協辦
                .item 重要節日、音樂會活動
                .item 跨社區戶外活動之策辦
                .item 敦泰新建案參觀
            .item_image
                img(src="./images/about_service_image_2.jpg")
        .service_item_row.item_row_3
            .item_wrap
                .title 關心珍惜您我的一切
                .item 客戶滿意度調查
                .item FACEBOOK專頁成立
                .item 天災提醒及關心
            .item_image
                img(src="./images/about_service_image_3.jpg")