extends ../../layouts/default.pug

block head
    title 建案介紹

block content
    h1(style="display:none") 建案介紹
    include blocks/banner.pug
    include blocks/construction.pug
    include blocks/about.pug
    include blocks/architecture.pug
    include blocks/interior.pug
    include blocks/sider.pug
    include blocks/quality.pug
    
